<div class="kit">
  <div class="kit-header">
    <mat-card class="my-4 flex-1 max-w-xl">
      <mat-card-header>
        <mat-card-title>{{ kit?.kitName }}</mat-card-title>
        <mat-card-subtitle>{{ kit?.Location }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="kit-information"></div>
      </mat-card-content>
      <mat-card-actions>
        <div class="flex flex-row justify-between align-center p-2">
          <span>Latest Measurement:</span>
          <span>ID: {{ kitID }}</span>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Air Sensors">
      <app-air-table [kitID]="kitID"></app-air-table>
    </mat-tab>
    <mat-tab label="Water Sensors">
      <app-water-table [kitID]="kitID"></app-water-table
    ></mat-tab>
    <mat-tab label="Soil Sensors">
      <app-soil-table [kitID]="kitID"></app-soil-table
    ></mat-tab>
    <mat-tab label="Custom Sensors">
      <app-custom-table [kitID]="kitID"></app-custom-table>
    </mat-tab>
  </mat-tab-group>
</div>
<button
  class="add-new-custom-sensor-button"
  (click)="openAddNewCustomSensorDialog()"
  mat-fab
  color="primary"
  aria-label="Botton for adding new kit"
>
  <mat-icon>add</mat-icon>
</button>
<a
  class="add-new-measurement-button"
  [href]="'https://kits.teleagriculture.org/app/kit/' + kitID + '/camera'"
  mat-fab
  color="primary"
  aria-label="Botton for adding new measurement"
>
  <mat-icon>photo_camera</mat-icon>
</a>
