@import 'src/styles/breakpoints';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 100%;
}

.kit {
    padding: 24px;

    @media (min-width: $min-md-width) {
        padding: 24px;
    }
}

.kit-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.kit-information {
    min-height: 100px;
}

.add-new-custom-sensor-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99;

    @media (min-width: $min-md-width) {
        bottom: 24px;
        right: 24px;
    }
}

.add-new-measurement-button{
    position: fixed;
    bottom: 100px;
    right: 16px;
    z-index: 99;

    @media (min-width: $min-md-width) {
        bottom: 100px;
        right: 24px;
    }
}