@use '@angular/material' as mat;

@import '@angular/material/theming';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/breakpoints';
@include mat.core();


$client-app-v3-primary: mat.define-palette(mat.$indigo-palette);
$client-app-v3-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$client-app-v3-warn: mat.define-palette(mat.$red-palette);

$client-app-v3-theme: mat.define-light-theme((color: (primary: $client-app-v3-primary,
        accent: $client-app-v3-accent,
        warn: $client-app-v3-warn,
      )));


@include mat.all-component-themes($client-app-v3-theme);


$client-app-v3-primary: mat.define-palette(mat.$indigo-palette);
$client-app-v3-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-app-v3-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-app-v3-theme: mat.define-light-theme((color: (primary: $client-app-v3-primary,
        accent: $client-app-v3-accent,
        warn: $client-app-v3-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-app-v3-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.mat-toolbar {
  padding: 16px;

  @media (min-width: $min-md-width) {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
