<!-- <div class="custom-table-header">
  <button
    mat-stroked-button
    (click)="openAddNewSensorDialog()"
    class="demo-button"
  >
    Add new Sensor
  </button>
</div> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let element">{{ element.value }}</td>
  </ng-container>

  <ng-container matColumnDef="min">
    <th mat-header-cell *matHeaderCellDef>Min</th>
    <td mat-cell *matCellDef="let element">{{ element.min }}</td>
  </ng-container>

  <ng-container matColumnDef="max">
    <th mat-header-cell *matHeaderCellDef>Max</th>
    <td mat-cell *matCellDef="let element">{{ element.max }}</td>
  </ng-container>
  <!-- Symbol Column -->
<!--   <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container> -->
  <!-- Position Column -->
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>Updated at</th>
    <td mat-cell *matCellDef="let element">{{ element.timestamp }}</td>
  </ng-container>

  <ng-container matColumnDef="star" stickyEnd>
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        (click)="setSensorName(element.name)"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openAddCustomSensorParametersDialog()">
    <mat-icon>straighten</mat-icon>
    <span>Add Parameters</span>
  </button>
  <button mat-menu-item (click)="openAddCustomSensorMeasurementDialog()">
    <mat-icon>edit</mat-icon>
    <span>Add Measurement</span>
  </button>
  <button mat-menu-item (click)="showSensorHistory()">
    <mat-icon>monitoring</mat-icon>
    <span>Show History</span>
  </button>
</mat-menu>
